a
	color $azul
	text-decoration none
	
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	path('bg.jpg')
	background-repeat no-repeat
	background-position top center
	color $azul
	font-size  1.4rem
	font-weight $normal
	font-family $font-stack
	

h1, h2, h3
	text-transform uppercase
	font-weight $bold
	

label
	margin 0
	font-weight $light
	

input,
select
	&:hover, &:focus, &:active
		outline none !important
		outline 0 !important
		

strong
	font-family $font-stack
	font-weight $bold