//se pueden declarar con funciones
// make-prefix-column(num)
// make-prefix-column-offset(num)


.col
	&-button
		make-sm-column(10)
		make-sm-column-offset(1)
		make-lg-column(8)
		make-lg-column-offset(2)
		
	&-form
		background-color rgba($azul-oscuro,0.9)
		border-radius 1rem
		make-sm-column(10)
		make-sm-column-offset(1)
		make-lg-column(8)
		make-lg-column-offset(2)
		margin-bottom 1rem
		padding-bottom 2rem
		padding-top @padding-bottom
		transitionBase()