footer
	path('bg-footer.jpg')
	background-position center
	background-repeat no-repeat
	background-size cover
	color white
	margin-top 2rem
	padding-bottom 2rem
	padding-top @padding-bottom
	text-align center
	
	a
		color white
	
	img
		img-responsive(block)
		margin 1rem auto
		width 11.3rem