header
	.logo
		display block
		height auto
		margin 1rem auto
		max-width 18rem
		width 100%
		transitionBase()
		

		svg
			cuadrado(100%)
			

	.text
		&-title
			border-bottom 2px solid $rojo
			color $azul
			font-size: 2.3rem
			font-weight $light
			line-height 1.1
			padding 0.5rem
			text-align center
			
			strong
				background-color $azul
				color white
				display block
				font-weight $bold
				longShadow(70, 0, rgba(0,0,0,.08))
				margin-bottom 0.5rem
				overflow hidden
				padding 0.5rem