@media (min-width:420px)
	.form-checkbox
		.checkbox
			label
				max-width 92%
				
	.text-title
		margin 1rem auto
		max-width 27rem
		

@media (min-width:560px)
	.msn-place
		padding 0 2.6rem


@media (min-width:640px)
	header
		
		.logo
			margin-top 6rem
			max-width 36rem
			

		.text-title
			font-size 3rem
			max-width 36rem
			
	.btn
		display inline-block
		max-width 19.9rem
		min-height 6rem
		vertical-align middle
		

	.col
		&-button
			text-align center
			

@media (min-width:770px)
	.form-checkbox
		.checkbox
			label
				max-width 95%
		
@media (min-width:920px)
	.msn-place
		padding 0 3.8rem
	
	.btn
		max-width 20.9rem

@media (min-width:1000px)
	header
		
		.logo
			margin-top 10rem
			max-width 55rem
			

		.text-title
			font-size 5rem
			max-width 55rem
	
