//Footer

footer.container-fluid
	div.row

		//Seamos el cambio
		+image('seamos-el-cambio.png', 'Seamos el Cambio')
		///-Seamos el cambio

		p: a(href="http://www.partidocambioradical.org", target="_Blank") www.partidocambioradical.org
		

///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	//-Este arreglo imprime todos los js que se declaren en arreglo jsLibs en gulpfile.js:70
	-for(x =0; x < libs.length; x++)
		script(src=libs[x])
	script(src='js/gv.validate.js')


else
	script(src='js/libs/jquery.js')
	script(src="js/libs.min.js")
	script(src='js/gv.validate.js')
