//Header
header.container-fluid
	div.row
		//Logo Cambio Radical
		div.logo
			include ../includes/logo-cr.svg
		///-Logo Cambio Radical

		h1.text-title
			strong deje de criticar y
			span véngase a trabajar

		

///-Header