//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Solicitud Aval | Cambio Radical

block content
	section.container-fluid
		
		form#aval-form(method="")
			div.row
				small.
					Los campos con <strong>*</strong> son obligatorios

				div.col-sm-offset-8.col-sm-4.col-fecha
					div.form-group
						strong Fecha  
						span.fecha

					div.clearfix

				div.col-sm-offset-3.col-sm-6
					ol.text-center
						li Diligencie sus datos en el siguiente formulario.
						li Al final descargue el PDF y llénelo completamente.
						li Imprima el formulario de Solicitud de Aval diligenciado y fírmelo con huella.
						li El formulario debe ser autenticado en Notaría.
						li Envíe por correo certificado el formulario debidamente diligenciado, a la siguiente dirección: Carrera 7 No. 26-20, Piso 26


			
				div.clearfix
			//Tipo de candidato
			fieldset.row.row-tipo
				legend solicito aval como candidato a:


				//cámara
				div.col-form.col-sm-4.col-sm-offset-2.col-xs-6
					div.form-group.form-radio
						div.radio
							label
								input(type="radio", id="aval-camara", name="avalTipo")
								span Cámara
				///-cámara
				//Senado
				div.col-form.col-sm-4.col-xs-6

					div.form-group.form-radio
						div.radio
							label
								input(type="radio", id="aval-senado", name="avalTipo")
								span Senado
				///-Senado
				
			///-Tipo de candidato
			div.clearfix
			//datos candidato

			fieldset.row
				legend datos personales

				//Apellidos 1
				div.col-form.col-sm-6
					div.form-group
						label(for="apellidos1")
							| Primer Apellido
							//- <sup>*</sup>
						input(type="text", id="apellidos1", name="apellidos1")
				///-Apellidos 1
					
				//Apellidos 2
				div.col-form.col-sm-6
					div.form-group
						label(for="apellidos2")
							| Segundo Apellido
							//- <sup>*</sup>
						input(type="text", id="apellidos2", name="apellidos2")
				///-Apellidos 2



				//Nombre 1
				div.col-form.col-sm-6
					div.form-group
						label(for="nombre1")
							| Primer Nombre
							//- <sup>*</sup>
						input(type="text", id="nombre1", name="nombre1")
				///-Nombre 1
					
				//Nombre 2
				div.col-form.col-sm-6
					div.form-group
						label(for="nombre2")
							| Segundo Nombre
							//- <sup>*</sup>
						input(type="text", id="nombre2", name="nombre2")
				///-Nombre 2

				div.clearfix
				
				//num id
				div.col-form.col-sm-6
					div.form-group
						label(for="cc")
							| No. Identificación
						input(type="number", min="0", id="cc", name="cc")
				///-num id

				//lugar de expedicion
				div.col-form.col-sm-6
					div.form-group
						label(for="expedicion")
							| Lugar de expedición
						input(type="text",   id="expedicion", name="expedicion")

				///-lugar de expedicion

				div.clearfix
				
				//Direccion
				div.col-form.col-sm-3
					div.form-group
						label(for="direccionCasa") Dirección de residencia
						input(type="text", id="direccionCasa", name="direccionCasa")
				///-Direccion

				//dep
				div.col-form.col-sm-3
					div.form-group.form-select
						label(for="depCasa")
							| Departamento

						div.select

							select(name="depCasa", id="depCasa")
								option(value="")
								option(value="1") Departamento
				///-dep

				//ciudad
				div.col-form.col-sm-3
					div.form-group.form-select
						label(for="ciudadCasa")
							| Ciudad
						
						div.select

							select(name="ciudadCasa", id="ciudadCasa")
								option(value="")
								option(value="1") Una ciudad
				///-ciudad

				//telefono
				div.col-form.col-sm-3
					div.form-group
						label(for="telCasa") Teléfono
						input(type="number", min="0", id="telCasa", name="telCasa")
				///-telefono

				div.clearfix

				//Direccion
				div.col-form.col-sm-3
					div.form-group
						label(for="direccionTrabajo") Dirección de trabajo
						input(type="text", id="direccionTrabajo", name="direccionTrabajo")
				///-Direccion

				//dep
				div.col-form.col-sm-3
					div.form-group.form-select
						label(for="depTrabajo")
							| Departamento

						div.select

							select(name="depTrabajo", id="depTrabajo")
								option(value="")
								option(value="1") Departamento
				///-dep

				//ciudad
				div.col-form.col-sm-3
					div.form-group.form-select
						label(for="ciudadTrabajo")
							| Ciudad

						div.select

							select(name="ciudadTrabajo", id="ciudadTrabajo")
								option(value="")
								option(value="1") Una ciudad
				///-ciudad

				//telefono
				div.col-form.col-sm-3
					div.form-group
						label(for="telTrabajo") Teléfono
						input(type="number", min="0", id="telTrabajo", name="telTrabajo")
				///-telefono

				div.clearfix

				//correo
				div.col-form.col-sm-4
					div.form-group
						label(for="correo") Correo electrónico
						input(type="email", id="correo", name="correo")
				///-correo


				//Celular
				div.col-form.col-sm-4
					div.form-group
						label(for="telCelular") Celular
						input(type="number", min="0" id="telCelular", name="telCelular")
				///-Celular

				//Otro
				div.col-form.col-sm-4
					div.form-group
						label(for="otro") Otro
						input(type="text", id="otro", name="otro")
				///-Otro

				div.clearfix

				div.col-form.col-sm-4.col-sm-offset-4
					div.checkbox
						input(type="checkbox", name="politicas", id="politicas")
						label(for="politicas").
							He leído y acepto los <a href="#">términos y condiciones</a> y las <a href="#">políticas de privacidad</a> establecidos en el aviso legal.
				
			///-datos candidato


			div.clearfix
				
			div.col-button.col-sm-4.col-sm-offset-4

				//Submit
				button.btn.btn-submit(type="submit") Descargar
				///-Submit



block Scripts
	//-Acá se ponen js que solo vayan en ésta página

