//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Deje de criticar y véngase a trabajar | Cambio Radical

block content
	section.container-fluid
		
		form#trabajo.row(method="")
			small.
				Los campos con <strong>*</strong> son obligatorios


			div.col-form
				//Nombre
				div.form-group
					label(for="nombre")
						| Nombre
						<sup>*</sup>
					input(type="text", id="nombre", name="nombre")
				///-Nombre

				//Apellidos
				div.form-group
					label(for="apellidos")
						| Apellidos
						<sup>*</sup>
					input(type="text", id="apellidos", name="apellidos")
				///-Apellidos
				
				//Municipio
				div.form-group.form-select
					label(for="municipio")
						| Municipio
						<sup>*</sup>

					select(name="municipio", id="municipio")
						option(value="")
						option(value="1") Un municipio

				///-Municipio

				//Ciudad
				div.form-group.form-select
					label(for="ciudad")
						| Ciudad
						<sup>*</sup>

					select(name="ciudad", id="ciudad")
						option(value="")
						option(value="1") Una ciudad

				///-Ciudad

				//Telefono
				div.form-group
					label(for="telefono")
						| Teléfono
						<sup>*</sup>
					input(type="number", min="0", id="telefono", name="telefono")
				///-Telefono
				

				//email
				div.form-group
					label(for="email")
						| e-mail
						<sup>*</sup>
					input(type="email",id="email", name="email")
				///-email
				

				//Acepto terminos
				div.form-group.form-checkbox
					div.checkbox
						input(type="checkbox", name="politicas", id="politicas")
						label(for="politicas")
							| He leído y acepto los términos y condiciones establecidos en el aviso legal. 
							a(href="files/politicas.pdf", target="_blank") Política de privacidad.
				///-Acepto terminos


			div.clearfix
				
			div.col-button
				//Facebook Connect
				button.btn.btn-fb(type="button") Conéctate con Facebook
				///-Facebook Connect
				//Twitter Connect
				button.btn.btn-tw(type="button") Conéctate con  Twitter
				///-Twitter Connect
				//Submit
				button.btn.btn-submit(type="submit") Enviar
				///-Submit



block Scripts
	//-Acá se ponen js que solo vayan en ésta página

